<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="acc" method="post" name="document">
        <input type="text" name="name" value="tuankhoi">
        <input type="text" name="name" value="12">
        <input type="text" name="name" value="asdfsadf">

        <button type="submit"  >submit</button>
    </form>
  </body>
</html>